$color-primary: #40E0D0; 
$color-secondary: #f6efa6;

$color-white: #fff;
$color-black: #08070B;

$bp-smallest: 21.875em; // 350px
$bp-small: 31.25em; // 500px
$bp-medium: 50em; // 800px
$bp-large: 75em; // 1200px
