.Questions {
    width: 100rem;
    min-height: 60rem;
    border-radius: 50px;
    background: #40E0D0;
    margin: 4rem auto;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow:  20px 20px 60px #36beb1,
    -20px -20px 60px #4affef;

    &__header {
        position: relative;

        &::after {
            content: "";
            height: 3px;
            width: 20%;
            background-color: $color-secondary;

            position: absolute;
            bottom: -18%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__question {
        margin: 0 2.5rem;
    }

    &__navigation {
        display: flex;
        justify-content: center;
    }
}