.Question {
    margin-bottom: 2.2rem;
    text-align: start;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {

    }

    &__button {
        width: 3rem;
        height: 3rem;
        background: $color-primary;
        border: none;
        outline: none;
    }

    &__info {
        margin-top: .5rem;
        font-weight: 400;
    }

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-white;
        position: absolute;
        bottom: -18%;
    }
}
