.Questions {
    width: 100rem;
    min-height: 60rem;
    background-color: $color-white;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem 3rem;

    // display: flex;

    &__question {
        margin-left: 3rem;
    }

    &__navigation {
        display: flex;
          
    }
}